* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {

  background-image: url("/Imagens/background.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #fff9f9;
}

a:link {
  color: #fff9f9;
}

a:hover {
  color: #C70E0E;
}

a:active {
  color: #fff9f9;
}


.box1 {
  height: 170px;
  width: 315px;
  border-radius: 20px;
  background-image: linear-gradient(transparent 0%, #4b872667 0px), url('/Imagens/espiral.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;

}



.box2 {
  height: 170px;
  width: 315px;
  border-radius: 20px;
  background-image: linear-gradient(transparent 0%, #44067767 0px), url('/Imagens/espiral.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.container2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.text {
  color: #fff9f9;
  
}

body {
  background-color: black;
  height: 100px;
  width: 100%;
}

h1 {
  text-align: center;
}

h3{
  text-align: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

h4 {
  text-align: center;
  margin-top: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  color: rgb(255, 0, 0);
  text-align: justify;
  width: 700px ;
}


.sspiral {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  display: flex;
  align-self: center;
}

.rodapé {
  display: flex;
  justify-content: space-around;
  margin: 80px;
}

.imgcabeçalho {
  width: 100%;
}

.container1 {
  display: flex;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: row;
}

.pessoa1 {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 100px;
  align-self: center;
}

.fotos {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.box3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box4 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container3 {

  background-image: url("/Imagens/Rectangle\ 13\ \(1\).png");
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  display: flex;
  background-position: center;
}